@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

body {
  background: linear-gradient(to top,#0D1B2A, #415A77);
  font-family: 'Raleway', sans-serif;
  color: #F7FFF7;
}

h1 {
  font-family: 'Lato', sans-serif;
}

.btn {
  margin-top: 1em;
}
